@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&display=swap');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 81%);
    --moderate-violet: hsl(263, 55%, 52%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --white-opacity-50: hsl(0, 0%, 100%, 50%);
    --white-opacity-70: hsl(0, 0%, 100%, 70%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --very-dark-grayish-blue-opacity-70: hsl(217, 19%, 35%, 70%);
}

html {
    font-size: 62.5%;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light-gray);
}

/* CONTAINER CLASS */
.container {
    margin: auto;
    padding: 1.5rem;
}

#testimonial-grid {
    display: grid;
    gap: 1.5rem;
}

#card-1,
#card-2,
#card-3,
#card-4,
#card-5 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.2rem;
    border-radius: 1rem;
}

#card-1 {
    background-color: var(--moderate-violet);
    background-repeat: no-repeat;
    background-position: right 2rem top;
    background-image: url(../images/bg-pattern-quotation.svg);
}

#card-2 {
    background-color: var(--very-dark-grayish-blue);
}

#card-3 {
    background-color: var(--white);
}

#card-4 {
    background-color: var(--very-dark-blackish-blue);
}

#card-5 {
    background-color: var(--white);
}

#img-daniel,
#img-jonathan,
#img-jeanette,
#img-patrick,
#img-kira {
    border-radius: 50%;
}

#img-daniel {
    border: 2px solid var(--white);
}

#img-patrick {
    border: 2px solid var(--moderate-violet);
}

.testimonial-white {
    font-size: 2rem;
    color: var(--white);
}

.testimonial-black {
    font-size: 2rem;
    color: var(--very-dark-grayish-blue);
}

.name-white {
    font-size: 2rem;
    color: var(--white);
}

.name-black {
    font-size: 2rem;
    color: var(--very-dark-grayish-blue);
}

.review-white {
    font-size: 1.5rem;
    color: var(--white-opacity-70);
}

.review-white-50 {
    font-size: 1.5rem;
    color: var(--white-opacity-50);
}

.review-black {
    font-size: 1.5rem;
    color: var(--very-dark-grayish-blue-opacity-70);
}

.graduate-white {
    font-size: 1.3rem;
    color: var(--white-opacity-50);
}

.graduate-black {
    font-size: 1.3rem;
    color: var(--light-gray);
}

.personal-details {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}